@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: black; */
  background: url(./assets/video.mp4);
  background-size: cover;
  color: rgb(231, 226, 226);
  font-family: "Roboto", sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  margin: 2rem;
  justify-content: center;
  text-align: center;
  color: cornflowerblue;
}

.board {
  /*border: 1rem solid #575656;*/
  /* background: #575656; */
  /* width: 80%; */
  /* height: 80%; */
  /* display: flex; */
  display: grid;
  /* justify-content: space-around; */
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 1rem;
  align-content: space-around;
  margin: auto;
  gap: 1rem;
}

.cells {
  background: #0a0a0a;
  border: none;
  font-size: 5rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}

.X {
  color: red;
}
.O {
  color: green;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 1rem;
}

li {
  list-style: none;
}

.info-wrapper button {
  background: #272727;
  color: rgb(255, 255, 255);
  font-size: small;
  border-radius: 30px;
  outline: none;
  cursor: progress;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}

button:hover {
  background-color: rgb(131, 187, 233);
}
