@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: black; */
  background: url(./assets/bg1.jpg);
  background-size: auto;
  color: rgb(231, 226, 226);
  font-family: "Roboto", sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  margin: 0;
  font-size: xx-large;
  margin-top: -0.6em;
  color: white;
  text-align: center;
  padding-bottom: 10%;
  justify-content: center;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  // transform: rotate(-7deg);
}

.board {
  /*border: 1rem solid #575656;*/
  /* background: #575656; */
  /* width: 80%; */
  /* height: 80%; */
  /* display: flex; */
  display: grid;
  /* justify-content: space-around; */
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 1rem;
  align-content: space-around;
  margin: auto;
  gap: 1rem;
}

.cells {
  background: #0a0a0a;
  border: none;
  font-size: 5rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}

.X {
  color: red;
}
.O {
  color: green;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 1rem;
  color: rgb(59, 60, 61);
}

li {
  list-style: none;
}

.info-wrapper button {
  background: #272727;
  color: rgb(255, 255, 255);
  font-size: small;
  border-radius: 30px;
  outline: none;
  cursor: progress;
  font-weight: bold;
  padding: 0.5rem;
}

button:hover {
  background: linear-gradient(rgb(72, 203, 255), rgb(11, 144, 233));
  color: rgb(59, 60, 61);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
